<!DOCTYPE html>
<html> 
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<title>Tree Demo</title>
		<link rel="stylesheet" type="text/css" href="assets/styles/styles.css">
		<script src="app.js"></script>
	</head>
	<body ng-app="myApp">
		<div class="recursiveTree">
			<script type="text/ng-template"  id="tree-template.html">
			<div ng-controller="NodeController">
				<div class="name-block">
					<span ng-click="toggle(data)" class="clickable glyphicon {{expanded ? 'glyphicon-minus' : 'glyphicon-plus'}}" style="visibility: {{data.nodes.length ? 'visible' : 'hidden'}}" aria-hidden="true"></span>
					<span class="name">{{data.name}}</span>
					<span ng-click="remove(data)" class="clickable glyphicon glyphicon-remove" aria-hidden="true"></span>
					<span ng-click="rename(data)" class="clickable glyphicon glyphicon-pencil" aria-hidden="true"></span>
					<span ng-click="add(data)" class="clickable glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				</div>
				<ul ng-show="expanded" >
					<li ng-repeat="data in data.nodes track by $index" ng-include="'tree-template.html'"></li>
				</ul>
			</div>
			</script>

			<ul ng-controller="TreeController">
				<li ng-repeat="data in tree track by $index" ng-include="'tree-template.html'"></li>
			</ul>
		</div>

		<div class="treeAsList">
			<ul ng-controller="TreeAsListController">
				<li class="list-element" ng-repeat="element in treeAsList track by $index" ng-controller="ListElementController">
					<div class="name-block">
						<span ng-repeat="i in getNumber(element.level) track by $index" class="indent"></span>
						<span ng-click="toggle(element)" class="clickable glyphicon {{element.expanded ? 'glyphicon-minus' : 'glyphicon-plus'}}" style="visibility: {{element.hasChild ? 'visible' : 'hidden'}}" aria-hidden="true"></span>
						<span class="name">{{element.name}}</span>
						<span ng-click="remove(element)" class="clickable glyphicon glyphicon-remove" aria-hidden="true"></span>
						<span ng-click="rename(element)" class="clickable glyphicon glyphicon-pencil" aria-hidden="true"></span>
						<span ng-click="add(element)" class="clickable glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>
